b{% extends 'layout.html' %}
{% block content %}
<section id="section-about" class="bg-grey">

    <div class="container">
        <div id="home-row" class="row justify-content-center align-items-center">
            <div id="home-column" class="col-md-6">
                <div id="home-box" class="col-md-12">
                    <br>
                    <div class="form-group">
                        <img src="https://www.santanadeparnaiba.sp.gov.br/coronavirus/assets/images/brasao-png-337x300.png"
                            alt="about image" height="245" width="245" class="img-responsive">
                    </div>
                    <h5 class="text-center text-dark">

                        <p><b>Santana de Parnaíba: Uma Jornada Através do Tempo</b></p>
                        <p>Berço dos Bandeirantes:</p>

                        </p>Em 1580, às margens do Rio Tietê, nascia Santana de Parnaíba, fundada por Susana Dias, neta
                        do
                        cacique Tibiriçá, e seu filho, o Capitão André Fernandes. A fazenda, batizada em homenagem à
                        Santa Ana, logo se tornou ponto de apoio para as expedições bandeirantes que desbravavam o
                        interior do Brasil.</p>
                        </br>

                        <p><b>Elevando-se à Vila e à Cidade:</b></p>

                        </p>Em 1625, o povoado ao redor da capela foi elevado à categoria de vila com o nome "Santana de
                        Parnaíba". A vila prosperou com o comércio e a agricultura, tornando-se referência regional. Em
                        1906, recebeu a denominação de "Parnaíba", que, em 1944, foi revertida para o nome original,
                        preservando sua rica história.</p>

                        <p><b>Um Patrimônio Histórico Inigualável:</b></p>

                        <p>Santana de Parnaíba ostenta um dos maiores conjuntos arquitetônicos tombados do Estado de São
                            Paulo, com 209 edificações dos séculos XVII ao XX. Caminhando pelas ruas de paralelepípedos
                            do centro histórico, você se transporta no tempo, admirando casas coloniais, sobrados
                            imponentes e a Igreja Matriz de Santana, marco da fé local.</p>

                        <p><b>Além da História: Um Presente Vibrante</b></p>

                        <p>SantanaA cidade não se resume ao passado. Santana de Parnaíba é um polo de desenvolvimento
                            tecnológico e educacional, com universidades renomadas e parques industriais modernos. A
                            cultura pulsa
                            com museus, teatros, eventos e uma cena gastronômica que agrada todos os paladares.</p>
                    </h5>
                    <br>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}