{% extends 'layout.html' %}
{% block content %}
<section id="section-about" class="bg-grey">

    <div class="container">
        <div id="home-row" class="row justify-content-center align-items-center">
            <div id="home-column" class="col-md-6">
                <div id="home-box" class="col-md-12">
                    <br>
                    <div class="form-group">
                        <img src="{{ url_for('static', filename = 'images/Imagem3.png')}}" alt="about image"
                            height="245" width="245" class="img-responsive">
                    </div>
                    <h5 class="text-center text-dark">

                        <p>Portal Completo de Santana de Parnaíba: Sua Porta de Entrada para a Cidade!</p>
                    </h5>
                    <br>
                </div>
            </div>

        </div>
        <div class="grupo-botoes-divisao">

            <div class="form-group">
                <a href="/historia"><input type="submit" name="submit" class="btn btn-info btn-md" value="Historia"
                        id="historia"></a>
            </div>
            <div class="form-group">
                <a href="/pciconcursos"><input type="submit" name="submit" class="btn btn-info btn-md"
                        value="Concursos Abertos" id="pcconcurso"></a>
            </div>
            <div class="form-group">
                <a href="/painel_transparencia"><input type="submit" name="submit" class="btn btn-info btn-md"
                        value="Painel Transparencia" id="painel_transparencia"></a>
            </div>
            <div class="form-group">
                <a href="/painel_dengue"><input type="submit" name="submit" class="btn btn-info btn-md"
                        value="Dados Populacionais" id="painel_dengue"></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}