{% extends 'layout.html' %}
{% block content %}
<section id="section-about" class="bg-grey">
    <div class="container">
        <div id="home-row" class="row justify-content-center align-items-center">

        </div>
        <br>
        <div id="divPrincialResultadosJcConcursos" class="divPrincialResultadosJcConcursos">
            <iframe
                src="https://app.powerbi.com/view?r=eyJrIjoiYjM0YjBlNWItNGRmZC00MjgwLWJlYjAtNDJjMjMxMzNkYzc4IiwidCI6ImJjOTljZTFhLWYwOGEtNDY4Yy1hOGJlLWI0NmQzZDUyMzRhNiJ9"
                class="col-12 iframe-dashboard" frameborder="0" allowfullscreen="" title="Painel PowerBi" width="1200"
                height="1200"></iframe>

        </div>
    </div>
</section>
{% endblock %}