{% extends 'layout.html' %}
{% block content %}
<section id="section-about" class="bg-grey">
    <div class="container">
        <div id="home-row" class="row justify-content-center align-items-center">
            <div id="home-column" class="col-md-6">
                <div id="home-box" class="col-md-12">
                    <br>
                    <div class="form-group">
                        <img src="{{ url_for('static', filename = 'images/Imagem3.png')}}" alt="about image"
                            height="245" width="245" class="img-responsive">
                    </div>
                    <h7 class="text-center text-dark">
                        <p><b>Sobre</b></p>
                        <p>Um Portal para desbravar Santana de Parnaíba. Aqui, você encontra informações completas sobre
                            a cidade, desde sua rica história e cultura até dados estatísticos atualizados. Acesse o
                            dashboard completo com dados do <a
                                href="https://servicos.santanadeparnaiba.sp.gov.br/cecam_transparencia/" target="_blank"
                                rel="noopener noreferrer">Portal da Transparência</a> da Prefeitura Municipal contendo
                            informações detalhadas sobre despesas, receitas e folha de pagamento.</p>
                        <p>Explore os Dados Populacionais e conheça o perfil da população de Santana de Parnaíba com
                            base nos dados mais recentes do IBGE.</p>
                        <p>Fique por dentro das últimas vagas de concursos públicos em Santana de Parnaíba e região.
                            Utilize nossa ferramenta de busca avançada no portal <a
                                href="https://www.pciconcursos.com.br/" target="_blank" rel="noopener noreferrer">PCI
                                Concursos</a> para encontrar
                            oportunidades que correspondem ao seu perfil.</p>
                    </h7>
                    <br>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}